* {
    margin: 0;
    padding: 0;
}

header {
    background: #fffbb9;
    border: 1px solid #999999;
    padding: 20px;
}
.cabecera h1 {
    text-align: left;
}

body {
    text-align: center;
}

div {
    width: 960px;
    margin: 15px auto;
    border: 1px solid black;
}

nav {
    background: #ccc;
    padding: 5px 15px;
}
ul {
    text-align: left;
}

li {
    list-style: none;
    padding: 5px;
    font: bold 14px Arial;
    display: inline-block;
}

section, footer, aside, article, hgroup {
    display: block;
}

h1 {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
}

h2 {
    font-weight: bold;
    font-size: 14px;
    font-family: sans-serif;
}

.seccion {
    margin: 20px;
    width: 60%;
    float: left;
}

article {
   background: #fffbcc;
   border: 1px solid #999;
   padding: 20px;
    margin-bottom: 15px;
}

time {
    color: #999;
}

article footer {
    text-align: right;
    margin-top: 20px;
}

.columna {
    margin: 20px 0;
    width: 30%;
    float: left;
}

.columna blockquote {
    border: 1px solid black;
    padding: 40px;
    background: #fffbb9;
    margin-bottom: 20px;
}

.pie {
    clear: both;
    padding: 20px;
    background: #2d3436;
    color: #ffffff;
}

img {
    width: 80px;
    display: block;
    margin: 20px auto;
}